.my-grid-pane {
    -fx-background-color: black;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-padding: 1;
    -fx-alignment: top-center;
}

.master-gridpane {
    -fx-alignment: center;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-grid-lines-visible: true;
    -fx-padding: 20 20 20 20;
}

.splash-gridpane {
    -fx-alignment: center;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-grid-lines-visible: true;
    -fx-padding: 20 20 20 20;
}

.splash-button {
    -fx-text-alignment: "center";
    -fx-font-family: "Arial";
    -fx-font-size: 36;
}
